[package]
name = "multiversx-sc-meta-lib"
version = "0.65.0"
edition = "2024"

authors = [
    "Andrei Marinica <andrei.marinica@multiversx.com>",
    "MultiversX <contact@multiversx.com>",
]
license = "GPL-3.0-only"
readme = "README.md"
repository = "https://github.com/multiversx/mx-sdk-rs"
homepage = "https://multiversx.com/"
documentation = "https://docs.multiversx.com/"
description = "MultiversX smart contract meta-programming tools and build system"
keywords = ["multiversx", "blockchain", "contract", "debug"]
categories = ["cryptography::cryptocurrencies", "development-tools::debugging"]

[dependencies]
clap = { version = "4.4", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
rustc_version = "0.4"
toml = { version = "1.0", features = ["preserve_order"] }
colored = "3.0"
lazy_static = "1.4.0"
convert_case = "0.11"
hex = "0.4"
wasmparser = "0.245"
wasmprinter = "0.245"
semver = "1.0.20"
wat = "1.217.0"

[dependencies.multiversx-sc]
version = "=0.65.0"
path = "../base"
features = ["alloc", "num-bigint"]

[dependencies.multiversx-chain-scenario-format]
version = "0.26.0"
path = "../../sdk/scenario-format"
