[package]
name = "multiversx-sdk-dapp"
version = "0.14.2"
edition = "2024"

authors = ["MultiversX <contact@multiversx.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/multiversx/mx-sdk-rs"
homepage = "https://multiversx.com/"
documentation = "https://docs.multiversx.com/"
description = "SDK for interacting with the MultiversX blockchain for wasm-bindgen environments"
categories = ["cryptography::cryptocurrencies", "api-bindings"]
keywords = ["multiversx", "blockchain", "sdk", "wasm", "wasm-bindgen"]

[dependencies]
getrandom = { version = "0.4", features = ["wasm_js"] } # wasm_js feature overrides import from sdk
web-sys = { version = "0.3" }
js-sys = { version = "0.3" }
wasm-bindgen = { version = "0.2" }
wasm-bindgen-futures = { version = "0.4" }
gloo-net = { version = "0.6" }
anyhow = "1.0"
hex = "0.4"
itertools = "0.14"
log = "0.4"

[dependencies.multiversx-sdk]
version = "=0.14.2"
path = "../core"
