[package]
name = "multiversx-sdk"
version = "0.14.2"
edition = "2024"

authors = [
    "MultiversX <contact@multiversx.com>",
]
license = "MIT"
readme = "README.md"
repository = "https://github.com/multiversx/mx-sdk-rs"
homepage = "https://multiversx.com/"
documentation = "https://docs.multiversx.com/"
description = "SDK for interacting with the MultiversX blockchain"
categories = ["cryptography::cryptocurrencies", "api-bindings"]
keywords = ["multiversx", "blockchain", "sdk", "api"]

[features]
wallet-full = ["rand", "uuid"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
serde_repr = "0.1"
anyhow = "1.0"
bip39 = "2.0"
sha2 = "0.10"
sha3 = "0.10"
hmac = { version = "0.12", features = ["std"] }
hex = "0.4"
base64 = "0.22"
pbkdf2 = { version = "0.12", default-features = false }
zeroize = "1.4"
itertools = "0.14"
pem = "3.0"
log = "0.4"
scrypt = { version = "0.11", default-features = false }
aes = "0.8"
ctr = "0.9"

# Optional dependencies, for wallet-full
rand = { version = "0.10", optional = true, default-features = false }
uuid = { version = "1.10", features = ["v4"], optional = true }

[dependencies.multiversx-chain-core]
version = "=0.21.2"
features = ["std"]
path = "../../chain/core"
